/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-<uniquifier> {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: lightslategray;
}

/* Header */
header {
    background-color: lightcoral;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 4px lightslategray;    
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 { 
    font-family: "Montserrat", serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #ffffff;
}

/* Main content */
main {
    background-color: #ffffff;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: teal;
}