/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-<uniquifier> {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.header img {
    float: left;
    width: 80%;
    height: 100px;
}

. header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Montserrat", serif;
}

/* Header */
header {
    background-color: #e1e5cd;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px #3a3a3a;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Montserrat", serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #252525;


}

/* Main */
main {
    background-color: #A4DBD9;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: #e1e5cd;

}